body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 1000px;
}

.wedding-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 300px;
    border-right: 3px solid grey;
}

.wedding-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    width: 700px;
}

.style-tabs {
    display: flex;
    justify-content: space-around;
}

.user-supplied {
    font-size: 300%
}

.print {
    background: url(wedding-background-1.png) blue;
    background-size: cover; 
    background-repeat: no-repeat;  
    font-family: 'Dancing Script', cursive;
    /* font-size: 1.5em */
}

.princess {
    color: purple;
    background-color :pink;
}

.bumblebee {
    color: yellow;
    background-color: black;
}


/* code from http://css.maxdesign.com.au/listamatic/horizontal05.htm */

.style-tabs {
    padding: 3px 0;
    margin-left: 0;
    border-bottom: 1px solid #778;
    font: bold 12px Verdana, sans-serif;
}

.style-tabs li {
    list-style: none;
    margin: 0;
    display: inline;
}

.style-tabs li p {
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom: none;
    background: #DDE;
    text-decoration: none;
}

.style-tabs li p:link {
    color: #448;
}

.style-tabs li p:hover {
    color: #000;
    background: #AAE;
    border-color: #227;
}

.style-tabs li p.current {
    background: white;
    border-bottom: 1px solid white;
}